<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-6">List Accounts</div>
                <div class="col-md-6 text-right"><a href="#" data-type="show" data-hide="Hide Form" data-show="Add Account" id="addAccountButton" class="btn btn-sm btn-primary">Add Account</a></div>
            </div>
        </div>
        <div class="panel-body">
            <div class="account-form">
                <form>
                    <div class="row">
                        <div class="col-md-2">
                            <select class="form-control">
                                <option>Uploaded.net</option>
                                <option>Rapidgator.com</option>
                                <option>Datafile.com</option>
                                <option>Filesmonster.com</option>
                                <option>4shared.com</option>
                            </select>
                        </div>
                        <div class="col-md-8">
                            <input type="email" class="form-control" name="account" id="account" placeholder="Account or Cookie" />
                        </div>
                        <div class="col-md-2 text-right">
                            <button type="submit" class="btn btn-primary">Save Changes</button>
                        </div>
                    </div>
                </form>
            </div>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr class="tb-heading">
                        <th>#</th>
                        <th>Rarefile.net</th>
                        <th>Type</th>
                        <th>Status</th>
                        <th>Expiration</th>
                        <th class="text-center"><a href="" class="btn btn-xs btn-success">Check All</a></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tb-items">
                        <td>1</td>
                        <td>sadas@dsdasdas.com:23123asd</td>
                        <td class="text-center">Account</td>
                        <td class="text-center"><span class="label label-success">OK</span></td>
                        <td class="text-center">13 July 2016</td>
                        <td class="text-center">
                            <a href="" class="btn btn-xs btn-info">Check</a>
                            <a href="" class="btn btn-xs btn-danger">Delete</a>
                        </td>
                    </tr>
                    <tr class="tb-items">
                        <td>2</td>
                        <td>sadas@dsdasdas.com:23123asd</td>
                        <td class="text-center">Account</td>
                        <td class="text-center"><span class="label label-success">OK</span></td>
                        <td class="text-center">13 July 2016</td>
                        <td class="text-center">
                            <a href="" class="btn btn-xs btn-info">Check</a>
                            <a href="" class="btn btn-xs btn-danger">Delete</a>
                        </td>
                    </tr>
                    <tr class="tb-items">
                        <td>3</td>
                        <td>sadas@dsdasdas.com:23123asd</td>
                        <td class="text-center">Account</td>
                        <td class="text-center"><span class="label label-success">OK</span></td>
                        <td class="text-center">13 July 2016</td>
                        <td class="text-center">
                            <a href="" class="btn btn-xs btn-info">Check</a>
                            <a href="" class="btn btn-xs btn-danger">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered table-hover">
                <thead>
                <tr class="tb-heading">
                    <th>#</th>
                    <th>Uploaded.net</th>
                    <th>Type</th>
                    <th>Status</th>
                    <th>Expiration</th>
                    <th class="text-center"></th>
                </tr>
                </thead>
                <tbody>
                <tr class="tb-items">
                    <td>1</td>
                    <td>sadas@dsdasdas.com:23123asd</td>
                    <td class="text-center">Account</td>
                    <td class="text-center"><span class="label label-success">OK</span></td>
                    <td class="text-center">13 July 2016</td>
                    <td class="text-center">
                        <a href="" class="btn btn-xs btn-info">Check</a>
                        <a href="" class="btn btn-xs btn-danger">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>