    <footer>
        <div class="copyright">
            <p><strong><a href="https://github.com/huuminhtech/DL-Script" target="_blank">HuuMinh DL Script</a> v{{configs.app.version}}</strong> · Created by <a href="https://huuminh.net/" target="_blank"><strong>HuuMinh Technologies</strong></a></p>
            <p>Code licensed under GPL-3.0 License</p>
        </div>
    </footer>
    <script type="text/javascript" src="./js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="./js/jquery-migrate-3.0.0.min.js"></script>
    <script type="text/javascript" src="./js/bootstrap.min.js"></script>
    <script type="text/javascript" src="./socket.io.js"></script>
    <script type="text/javascript" src="./xregexp-all.js"></script>
    <script type="text/javascript" src="./js/jquery.form.min.js"></script>
    <script type="text/javascript" src="./js/toastr.min.js"></script>
    <script type="text/javascript" src="./js/utils.js"></script>
    <script type="text/javascript" src="./js/helpers.js"></script>
    <script type="text/javascript" src="./js/app.socket.io.js"></script>
    <script type="text/javascript" src="./js/app.js"></script>
</body>
</html>